*{
    margin: 0;
    padding: 0;
}
.cfooter{
    width: 1920px;
    height: 450px;
    background-color: rgba(20, 39, 74, 1);
}
.header{
    width: 1497.79px;
    height: 149px;
    left: 213px;
}
.logo{
    width: 256px;
    height: 149px;
    margin-left: 243px;
    background-color: #E0B973;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.text1{
    /* LUXURY */

position: absolute;
left: 15.76%;
right: 77.08%;
top: 5%;
bottom: 97.16%;

font-family: 'Adobe Garamond Pro';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height */
letter-spacing: 0.15em;

color: #14274A;


}
.text2{
    /* HOTELS */

position: absolute;
left: 17.86%;
right: 79.32%;
top: 11.5%;
bottom: 96.79%;

font-family: 'Adobe Garamond Pro';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.6em;

color: #14274A;


}
.options{
    width: 699.79px;
    height: 31px;
    top: 59px;
    left: 1011px;
}
.home{
    /* Home */

position: absolute;
left: 54.84%;
right: 43.04%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #FFF;
}
.facilities{
    /* Facilities */

position: absolute;
left: 62.61%;
right: 32.71%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #FFF;
}
.rooms{
    /* Rooms */

position: absolute;
left: 72.7%;
right: 22.67%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #FFF;
}
.contact{
    /* Contact-us */

position: absolute;
left: 81.92%;
right: 10.9%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #FFF;
}
.cUs p{
    width: 547px;
    height: 98px;
    position: relative;
    top: 70px;
    left: 687px;
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.cp{
    width: 1509px;
    height: 152px;
    position: relative;
    top: 250px;
    left: 330px;

}
.p1{
    width: 767px;
    height: 72px;
    top: 826px;
    left: 202px;
    font-family: Adobe Garamond Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(20, 39, 74, 1);
}
.p2{
    width: 1509px;
    height: 74px;
    top: 804px;
    left: 202px;
    border: 0.3px;
    font-family: Montserrat;
    font-size: 30px;    
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, #14274A, #14274A);
}
.addc{
    width: 653px;
    height: 351px;
    position: relative;
    top: 470px;
    left: 330px;
}
.addc1{
    width: 570px;
    height: 108px;
    top: 1045px;
    left: 202px;
    border: 0.5px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(20, 39, 74, 1);
}
.addc2{
    width: 214px;
    height: 53px;
    top: 1181px;
    left: 202px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(20, 39, 74, 1);
}
.addc3{
    width: 653px;
    height: 108px;
    position: relative;
    top: 40px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(20, 39, 74, 1);
}
.cboc{
    width: 570px;
    height: 809px;
    position: relative;
    top: 130px;
    left: 995px;
}
.cbox1{
    width: 67px;
    height: 29px;
    top: 1045px;
    left: 1141px;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(20, 39, 74, 1);
}
#cname{
    width: 570px;
    height: 78px;
    top: 1082px;
    left: 1141px;
    border: 2px;
    border-style: solid;
    color: rgba(20, 39, 74, 1);
}
.cbox2{
    width: 160px;
    height: 29px;
    position: relative;
    top: 20px;
    left: 1px;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(20, 39, 74, 1);
}
#cemail{
    width: 570px;
    height: 78px;
    position: relative;
    top: 20px;
    left: 1px;
    border: 2px;
    border-style: solid;
    color: rgba(20, 39, 74, 1);
}
.cbox3{
    width: 102px;
    height: 29px;
    position: relative;
    top: 35px;
    left: 1px;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(20, 39, 74, 1);
}
#cmsg{
    width: 570px;
    height: 352px;
    position: relative;
    top: 35px;
    left: 1px;
    border: 2px;
    border-style: solid;
    color: rgba(20, 39, 74, 1);
}
.cboc button{
    width: 145px;
    height: 78px;
    position: relative;
    top: 100px;
    left: 427px;
    background-color: #E0B973;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}
.footer{
    width: 1920px;
    height: 320.99px;
    background-color: rgba(20, 39, 74, 1);
    position: relative;
    top: 580px;

}
.address{
    position: absolute;
    left: 95px;
}
.add1{
    width: 118px;
    height: 38px;
    font-family: Adobe Garamond Pro;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 40px;
    top: 112px;
}
.add2{
    width: 63px;
    height: 8px;
    font-family: Adobe Garamond Pro;
    font-size: 9px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.6em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 68px;
    top: 145px;
}
.add3{
    width: 264px;
    height: 51px;
    border: 0.1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    top: 185px;
    left: 40px;
}
.aus{
    width: 185px;
    height: 100px;
    border: 0.5px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 585px;
    margin-top: 110px;
    justify-content: space-around;
}
.sa{
    width: 84px;
    height: 83px;
    border: 0.5px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 1050px;
    margin-top: 100px;
}
.sy{
    position: absolute;
    left: 990px;
    line-height: 47.9px;
    margin-top: 96px;
}
.searchbar{
    position: absolute;
    left: 1350px;
    margin-top: 145px;
}
form{
    width: 400px;
    height: 55px;
    display: flex;
    position: relative;
    top: 20px;
}
form input{
    background: rgba(20, 39, 74, 1) ;
    flex: 1;
    border-radius: 5px;
    outline: 30px;
    outline-color: rgba(224, 185, 115, 1);
    outline-style: solid;
    outline-width: 3px;
}
.searchbar button{
    width: 80px;
    height: 60px;
    background: rgba(224, 185, 115, 1);
    border: none;
    outline: none;
    border-radius:5px;
    position: relative;
    bottom: 2px;
}
.last{
    position: absolute;
    left: 1350px;
    margin-top: 100px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
}



    
