*{
    margin: 0;
    padding: 0;
}
.bgimage{
    background-image: url("images/room1.jfif");
    width: 1920px;
    height: 1080px;
    background-size: cover;
    opacity: 1;
}
.mcontent{
    width: 1497.79px;
    height: 1042px;
    left: 213px;
    text-decoration: none;
}
.header{
    width: 1497.79px;
    height: 149px;
    left: 213px;
}
.logo{
    width: 256px;
    height: 149px;
    margin-left: 243px;
    background-color: #E0B973;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.text1{
    /* LUXURY */

position: absolute;
left: 15.26%;
right: 77.08%;
top: 5%;
bottom: 97.16%;

font-family: 'Adobe Garamond Pro';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height */
letter-spacing: 0.15em;

color: #14274A;


}
.text2{
    /* HOTELS */

position: absolute;
left: 17.36%;
right: 79.32%;
top: 10%;
bottom: 96.79%;

font-family: 'Adobe Garamond Pro';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.6em;

color: #14274A;


}
.options{
    width: 699.79px;
    height: 31px;
    top: 59px;
    left: 1011px;
}
.home{
    /* Home */

position: absolute;
left: 54.84%;
right: 43.04%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: black;
}
.facilities{
    /* Facilities */

position: absolute;
left: 62.61%;
right: 32.71%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: black;
}
.rooms{
    /* Rooms */

position: absolute;
left: 72.7%;
right: 22.67%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: black;
}
.contact{
    /* Contact-us */

position: absolute;
left: 81.92%;
right: 10.9%;
top: 5.82%;
bottom: 97.26%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: black;
}
.welcome{
    width: 698.24px;
    height: 328px;
    top: 342px;
    left: 400px;
    
}
.wtext1{
    /* WELCOME TO */

position: absolute;
left: 11.13%;
right: 70.18%;
top: 37.55%;
bottom: 87.57%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
/* identical to box height */

color: black;
}
.wtext2{
    /* LUXURY */

position: absolute;
left: 11.11%;
right: 52.54%;
top: 39.03%;
bottom: 83.84%;

font-family: 'Adobe Garamond Pro';
font-style: normal;
font-weight: 500;
font-size: 125px;
line-height: 185px;
letter-spacing: 0.07em;

color: black;
}
.wtext3{
    /* HOTELS */

position: absolute;
left: 11.09%;
right: 70.47%;
top: 55.59%;
bottom: 81.19%;

font-family: 'Adobe Garamond Pro';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 72px;
/* identical to box height */
letter-spacing: 0.4em;

color: black;
}
.wtext4{
    /* Book your stay and enjoy Luxury redefined at the most affordable rates. */

position: absolute;
left: 11.11%;
right: 58.95%;
top: 63.81%;
bottom: 79.34%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
letter-spacing: 0.1em;

color: black;

border: 0.5px solid black;

}
.book{
    width: 268px;
    height: 78px;
    top: 500px;
    left: 826px;
    margin-left: 750px;
    margin-top: 180px;
    
}
.book button{
    border: none;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 55px;
    background-color: #E0B973;
    border-radius: 10px;
    position: relative;
    top: 120px;
    left: 90px;
}
.book p{
    color: black;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: 150px;
    height: 29px;
    margin-left: 30px;

}
.scroll{
    width: 79px;
    height: 106px;
    top: 936px;
    left: 920px;
    margin-left: 910px;
    margin-top: 200px;
    
}
.scroll p{
    color: black;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.25px;
}
.roomi{
    width: 1304px;
    height: 208px;
    top: 70px;
    left: 193px;
    position: relative;
}
.rhead{
    width: 596px;
    height: 72px;
    position: relative;
    font-family: Adobe Garamond Pro;
    font-size: 57px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.05em;
    left: 450px;
}
.rheadpara{
    width: 1304px;
    height: 107px;
    border: 0.3px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(20, 39, 74, 1);
    border: 0.5px solid rgba(20, 39, 74, 1);
    left: 75px;
    top: 45px;
}
.rs1 img{
    width: 1602px;
    height: 926px;
    position: relative;
    top: 200px;
    left: 129px;
    opacity: 0.2px;
}
.rs1text p{
    width: 1602px;
    height: 75px; 
    background: rgba(20, 39, 74, 1);
    position: relative;
    top: 195px;
    left: 129px;
}
.rs1text{
    width: 230px;
    height: 59px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.slides{
    width: 100px;
    height: 20px;
    position: relative;
    left: 895px;
    top: 80px;
}
.sone{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    right: 6px;
    background-color: #FFF;
}
.stwo{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    left: 6px;
}
.sthree{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    left: 16px;
}
.whitespace{
    width: 1593px;
    height: 175px; 
    background: rgba(255, 255, 255, 1);
    border-color: rgba(20, 39, 74, 1);
    border-radius: 0 0 15px 15px;
    border-style: groove;
    position: relative;
    top: 191px;
    left: 129px;
}
.tbtn p{
    width: 281px;
    height: 30px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;  
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    left: 210px;
    top: 18px;
}
.sidebtn button{
    border: none;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 65px;
    background-color: #E0B973;
    border-radius: 6px;
    position: relative;
    left: 1070px;
    bottom: 30px;
}
.rs2 img{
    width: 1602px;
    height: 926px;
    position: relative;
    top: 300px;
    left: 129px;
    opacity: 0.2px;
}
.rs2text p{
    width: 1602px;
    height: 75px; 
    background: rgba(20, 39, 74, 1);
    position: relative;
    top: 245px;
    left: 129px;
}
.rs2text{
    width: 230px;
    height: 59px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.slides2{
    width: 100px;
    height: 20px;
    position: relative;
    left: 895px;
    top: 120px;
}
.sone{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    right: 6px;
    background-color: #FFF;
}
.stwo{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    left: 6px;
}
.sthree{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    left: 16px;
}
.whitespace1{
    width: 1593px;
    height: 175px; 
    background: rgba(255, 255, 255, 1);
    border-color: rgba(20, 39, 74, 1);
    border-radius: 0 0 15px 15px;
    border-style: groove;
    position: relative;
    top: 242px;
    left: 129px;
}
.tbtn p{
    width: 281px;
    height: 30px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;  
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    left: 210px;
    top: 18px;
}
.sidebtn button{
    border: none;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 65px;
    background-color: #E0B973;
    border-radius: 6px;
    position: relative;
    left: 1070px;
    bottom: 30px;
}

.rs3 img{
    width: 1602px;
    height: 926px;
    position: relative;
    top: 350px;
    left: 129px;
    opacity: 0.2px;
}
.rs3text p{
    width: 1602px;
    height: 75px; 
    background: rgba(20, 39, 74, 1);
    position: relative;
    top: 245px;
    left: 129px;
}
.rs3text{
    width: 230px;
    height: 59px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.slides3{
    width: 100px;
    height: 20px;
    position: relative;
    left: 895px;
    top: 120px;
}
.sone{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    right: 6px;
    background-color: #FFF;
}
.stwo{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    left: 6px;
}
.sthree{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    display: inline-flex;
    position: relative;
    left: 16px;
}
.whitespace2{
    width: 1593px;
    height: 175px; 
    background: rgba(255, 255, 255, 1);
    border-color: rgba(20, 39, 74, 1);
    border-radius: 0 0 15px 15px;
    border-style: groove;
    position: relative;
    top: 242px;
    left: 129px;
}
.tbtn p{
    width: 281px;
    height: 30px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;  
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    left: 210px;
    top: 18px;
}
.sidebtn button{
    border: none;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 65px;
    background-color: #E0B973;
    border-radius: 6px;
    position: relative;
    left: 1070px;
    bottom: 30px;
}
.testtext1{
    font-family: Adobe Garamond Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(20, 39, 74, 1);
    margin-top: 120px;
}
.testtext2{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(20, 39, 74, 1);
    margin-top: 40px;
}
.testtext3{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(20, 39, 74, 1);
    margin-top: 25px;
}
.testbnt{
    width: 121px; 
    height: 50px; 
}
.testimonal{
    position: relative;
    top: 270px;
    left: 70px;
}
.footer{
    width: 1920px;
    height: 320.99px;
    background-color: rgba(20, 39, 74, 1);
    position: relative;
    top: 480px;

}
.address{
    position: absolute;
    left: 95px;
}
.add1{
    width: 118px;
    height: 38px;
    font-family: Adobe Garamond Pro;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 40px;
    top: 112px;
}
.add2{
    width: 63px;
    height: 8px;
    font-family: Adobe Garamond Pro;
    font-size: 9px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.6em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 68px;
    top: 145px;
}
.add3{
    width: 264px;
    height: 51px;
    border: 0.1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    top: 185px;
    left: 40px;
}
.aus{
    width: 185px;
    height: 100px;
    border: 0.5px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 585px;
    margin-top: 110px;
    justify-content: space-around;
}
.sa{
    width: 84px;
    height: 83px;
    border: 0.5px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 1050px;
    margin-top: 100px;
}
.sy{
    position: absolute;
    left: 990px;
    line-height: 47.9px;
    margin-top: 96px;
}
.searchbar{
    position: absolute;
    left: 1350px;
    margin-top: 145px;
}
form{
    width: 400px;
    height: 55px;
    display: flex;
    position: relative;
    top: 20px;
}
form input{
    background: rgba(20, 39, 74, 1) ;
    flex: 1;
    border-radius: 5px;
    outline: 30px;
    outline-color: rgba(224, 185, 115, 1);
    outline-style: solid;
    outline-width: 3px;
}
.searchbar button{
    width: 80px;
    height: 60px;
    background: rgba(224, 185, 115, 1);
    border: none;
    outline: none;
    border-radius:5px;
    position: relative;
    bottom: 2px;
}
.last{
    position: absolute;
    left: 1350px;
    margin-top: 100px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
}


